
<div class="section" id="about">
  <div class="container mt-4">
    <div class="card"   class="shadow-lg p-3 mb-5 bg-body rounded">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <div>
              <ul>
                <li *ngFor="let m of about2 | split">{{m}}</li>
              </ul>
            </div>
              <p>{{about1}}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">November 20, 1992</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">yogeshurade@gmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Phone:</strong>
              </div>
              <div class="col-sm-8">+91 9511778694</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">1097,Juni Police Line,Murarji Peth,Solapur,Maharashtra
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Marathi ,Hindi, English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
