
<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title mt-4">Education</div>
    <div class="card" >
      <div class="row">
        <div class="col-md-3 " style="background-color: tomato;border-radius: 20px;">
          <div class="card-body cc-education-header">
            <p>2014 - 2019</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Engineering</div>
             <h4 class="category">AgPatil Institute Of Technology ,Solapur, Maharashtra
             </h4>
             <ul>
              <li> AgPatil Institute of technology is having Diploma and <b>Engineering college</b> in Solapur </li>
                  <li>Completed B.E in Computer Engineering with  <b>8.1 CGPA</b> and First class 61%.</li>


           </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-2"  >
      <div class="row">
        <div class="col-md-3 " style="background-color: tomato;border-radius: 20px">
          <div class="card-body cc-education-header">
            <p>2011 - 2013</p>
            <div class="h5">Diploma</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Diploma</div>
             <h4 class="category">SPM Polytechnic ,Solapur,Maharashtra
             </h4>
             <ul>
              <li>
                The Diploma was mainly focus on the bases of c,c++,java and other programming language                                 </li>
                                <li>
                                   There was also a good base on science, mathematics, and Chemistry
                                   .
                                </li>
                                <li>
                                    Completed my Diploma  with<b> 62%</b>.
                                </li>
           </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
